<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <button mat-icon-button color="accent">
            <mat-icon class="icon-menu" (click)="sidenav.toggle()">menu</mat-icon>
          </button>
          <img mat-card-sm-image
               alt="Here can be your profile pic"
               [src]="img" *ngIf="isLoggedIn && img!=null"/>
          <button (click)="logout()" class="icon-logout" mat-icon-button color="accent" *ngIf="isLoggedIn">
            Log out<mat-icon>exit_to_app</mat-icon>
          </button>
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>

        <a mat-list-item [routerLink]="'/doctors'" *ngIf="isLoggedIn"> Doctors </a>
        <a mat-list-item [routerLink]="'/patients'" *ngIf="isLoggedIn"> Patients </a>
        <a mat-list-item [routerLink]="'/patientPrescriptions'" *ngIf="isLoggedIn"> Prescriptions </a>
        <a mat-list-item [routerLink]="'/fullInfo'" *ngIf="isLoggedIn"> Full Info </a>
        <a mat-list-item [routerLink]="'/drugs'" *ngIf="isLoggedIn"> Drugs </a>
        <a mat-list-item [routerLink]="'/'" *ngIf="isLoggedIn==false"> Login page </a>
        <a mat-list-item [routerLink]="'/admin'" class="nav-link" *ngIf="showAdminBoard">Admin Board</a>
        <a mat-list-item [routerLink]="'/profile'" class="nav-link" *ngIf="isLoggedIn">Profile</a>
        <a mat-list-item (click)="sidenav.toggle()" href="">Close</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
